

.back-to-top {
    position: fixed;
    opacity: 1;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #0051ff;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
    text-decoration: none;
}
.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}


.back-to-top:hover {
    background: #257cff;
    color: #fff;
}






@media (min-width: 992px) and (max-width: 1199px) {
    .linkedin {
        position: relative;
        top: 7px;
        right: 1px;
    }

    .info-contacts {
        width: 240px;
    }
}



@media (min-width: 768px) and (max-width: 992px) {
    .navbar {
      height: 60px;
    }


    .list-of-links-2, .our-services, .newsletter-advice, .newsletter-input, .our-newsletter, .newsletter-button{   
        position: relative; 
        right: 24%; 
    }

    .list-of-links-2, .our-services, .newsletter-advice,  .our-newsletter {
        padding-top: 8%;
    }

    .our-services, .our-newsletter{
        position: relative;
        top: 4%;
    }



   
  }


@media (max-width: 1399px) {
    #navbarNavDropdown {
        content-visibility: hidden;
    }


    .navbar-toggler {
        visibility: hidden;
    }

    #logo{
        position: relative;
        left: 5%;
        
    }
}
   

@media (max-width: 1660px)  {
    .img1 {
        position: relative;
        left: 1px;

    }
}

@media (min-width:320px) and (max-width: 1340px) {
    .newsletter-advice {
        width: 200px;
    }
}


@media (max-width: 1020px) {
    .newsletter-input {
        width: 150px;
    }
}


.navbar-dark {
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.navbar-brand{
    transition: 0.3s;
}


.navbar-brand:hover{
    transform: scale(1.2);
    transition: 0.3s;
}

body, html {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
}


.nav-link-navbar{
    margin: 0 20px 0 20px;
    text-decoration: none;
    color: lightgray;
    padding: 6px;
    border: 3px solid transparent;
    transition: 0.4s;
}


.nav-link-navbar:hover{
    color: rgb(0, 204, 255);
    border: 2px solid transparent;
    padding: 7px;
    transition: 0.4s;
    
    
}


.home {
    font-weight: bold;
    color: white;
    font-size: 17px;
}



.centered {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


@media (max-width: 991px)   {
    #logo {
        position: relative;
        left: 34.5%;
    }


    .img1{
        position: relative;
        left: 4.5%;
    }

    .contact-box-2 {
        margin: 20px 15px 0 0;
    }


    .img-2 {
        position: relative;
        right: 7%;
    }

    .content-item-1, .content-item-4, .content-item-2, .content-item-5 {
    border-right: 0.5px solid transparent !important;
    }

    .content-item-1, .content-item-2, .content-item-3 {
    border-bottom: 0.5px solid transparent !important;
    }
    

}

@media (max-width: 767px) {
    .list-of-links-2, .our-services, .newsletter-advice, .newsletter-input, .our-newsletter, .newsletter-button{   
        position: relative; 
        right: 15.5%; 
    }

    .list-of-links-2{
        padding-top: 20px;
    }

    .footer-links, .secondary-links, .footer-newsletter{
        margin-top: 80px;
    }

}


@media (min-width:992px) and (max-width:1399px) {
    #logo {
        position: relative;
        left:30%;
    }
}

@media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
@media (max-width: 992px) {
    #hero {
      height: calc(1vh - 60px);
      
    }

    

}

@media (max-width: 768px) {
    .hero-title {
     font-size: 2rem;
     line-height: 4.063rem;

    }
    
    .lead {
      font-size: 1.125rem;
      line-height: 1.8rem;
      margin-bottom: 30px;
    }
  }


  @media (max-width: 575px) {
      .button-1{
          width:fit-content;
          position: relative;
          left: 23%;
      }


      .img-2 {
          position: relative;
          right: 9%;
      }

      .info-contacts {
        width: 200px;
      }


}


@media (min-width:320px) and (max-width:460px) {
    .img-2 {
        position: relative;
        right: 13%;
    }

    .list-of-links-2, .our-services, .newsletter-advice, .newsletter-input, .our-newsletter, .newsletter-button{   
        position: relative; 
        right:18%; 
    }
}


@media (max-width: 1480px) {
    body{
        background-color: transparent !important;
    }
}

@media (max-width: 834px)  {
    .button-1{
        position: relative;
        bottom: 2rem;
    }
}


@media (max-width : 580px) {
      .about-details {
          width: 82%;
      }


    .img1 {
        width: 92%;
    }
}

.hero-title {
    text-shadow:rgb(0 0 0 / 0.4) 3px 3px ;
    font-size: 3.75rem;
}


.button-1 {
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 2em;
    display: block;
    font-size: 1.2rem;
    padding: 1.1em;
    text-align: center;
    font-weight: 700;
    letter-spacing: 3px;
    border-color: #2049ff;
    color: #fff;
    box-shadow: 0 0 40px 40px #2049ff inset, 0 0 0 0 #2049ff;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.button-1:hover {
    box-shadow: 0 0 10px 0 #2049ff inset, 0 0 10px 4px #2049ff;
    color: white;
}



.bg-image {
    
    background-image: url(./img/rsz_hero-bg.png);
    filter: brightness(55%);
    -webkit-filter: brightness(55%);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


#about {
    background-color: rgba(197,255,255,1);
}
.img1 {
    position: relative;
    top: 20px;
    right: 120px;
    border-radius: 30px;
}



.text-grey {
    color: #848484;
    font-size: 1rem;
}


.separator {
    position: relative;
    left: 50px;
    bottom: 32px;
}


#steps {
    background-image: linear-gradient(0deg, #ffffff, rgba(197,255,255,1) );
    padding: 130px 0 130px 0;
    
    
}


.number {
    color: rgb(41, 134, 130);
    font-size: 36px;
    font-family: sans-serif;
    font-weight: bold;
    
}




.p-steps {
    font-family: sans-serif;
    font-size: 15px;
    color: rgb(143, 143, 143);
}





.content-item-1, .content-item-4, .content-item-2, .content-item-5 {
    border-right: 0.5px solid #bbbbbb;
}

.content-item-1, .content-item-2, .content-item-3 {
    border-bottom: 0.5px solid #bbbbbb;
}

.content-item-1, .content-item-2, .content-item-3, .content-item-4, .content-item-5, .content-item-6 {
    padding: 60px;
}


.step-title{
    font-weight: 700;
}



.feature-anchor:hover {
    box-shadow: 0 2px 15px rgb(0 0 0 / 0.2);
    transition: 0.3s;
    
}

.feature-heading:hover {
    transition: 0.3s;
    color: rgb(0, 201, 140);
}

.img-2 {
    border-radius: 30px;
    margin-left: 50px;
}

.icon-box-services {
    padding: 1.7rem;
    border-radius: 14px;
    background-color: white;
    transition: 0.3s;
}


.icon-box-services:hover {
    box-shadow: 0 2px 15px rgb(0 0 0 / 0.2);
    transform: scale(1.08);
    transition: 0.3s;
}


.service-anchor {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    font-weight: bold;
}


.service-anchor:hover {
    color: rgb(0, 201, 140);
    transition: 0.3s;
}



#services {
    background: linear-gradient(180deg, rgba(255,255,255,1), rgba(161,255,213,1) );
    
}


#carousel {
    background: linear-gradient(0deg, rgba(255,255,255,1), rgba(161,255,213,1) );
    
}

.w-100 {
    border-radius: 20px;
}

#faq {
    background: linear-gradient(0deg, rgb(255, 205, 149) , rgba(255,255,255,1) );
}

.accordion-item {
    transition: 0.3s;
}

.accordion-item:hover{
    transition: 0.3s;
    transform: scale(1.05);
}

.faq-question {
    font-weight: bold;
    
}


.faq-question:hover{
    color: #0c63e4;
    transition: 0.2s;
}



.faq-question:focus {
    color: deepskyblue;
    transition: 0.1s;
    
    
}



.fa-question {
    position: relative;
    right: 10px;
}


#contact {
    background: linear-gradient(180deg, rgb(255, 205, 149) , rgba(255,255,255,1) );
    padding-bottom: 60px;
}



.contact-text{
    position: relative;
    left: 86px;
    bottom: 70px;
}






.contact-box-1 {
    background-color: #fff;
    box-shadow: 0 2px 15px rgb(0 0 0 / 0.2);
    height: 20rem;
    margin-right: 14px;
}



.address, .mail, .phone{
    height: 6rem;
}

.fa-mobile-phone {
    padding: 2px 15px 2px 15px;
    border-radius: 50%;
}

.fa-envelope {
    padding: 9px 10px 11px 12px;
    border-radius: 50%;
}

.fa-map-marker {
    padding: 7px 15px 7px 15px;
    border-radius: 50%;
}

.contact-icon {
    position: relative;
    left: 18px;
    bottom: 16px;
    color: #3f7edd;
    background-color: #e1f0ee;
    border: 1px solid transparent;
    transition: 0.5s;
}


.contact-icon:hover {
    background-color: #3f7edd;
    color: #e1f0ee;
    transition: 0.5s;
}



.form-box {
    background-color: white;
    box-shadow: 0 2px 15px rgb(0 0 0 / 0.2);
    padding: 20px;
    width: 67.6rem;
    position: relative;
    right: 6px;
    
}


.col-form-label {
    font-size: 1.2rem;
}



.footer-top{
    padding: 60px 0 30px 0;
    color: white;
    background-color: #0c1817;
}


.footer-icon {
    color: white;
    margin-right: 4px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: #1c3733;
}

.fa-facebook {
    padding: 8px 13px 8px 13px;
}

.fa-twitter {
    padding: 9px;
}

.fa-instagram {
    padding: 9px 11px 9px 11px;
}


.fa-skype{
    padding: 9px 11px 9px 11px;
}

.fa-linkedin{
    padding: 9px 11px 9px 11px;
}


.footer-icon{
    transition: all 0.5s;
}

.footer-icon:hover {
    background-color: teal;
}


.fa-angle-double-right {
    position: relative;
    right: 31px;
}


.useful-link {
    text-decoration: none;
    color: white;
    font-size: 15px;
}


.useful-link:hover {
    color: rgb(4, 165, 165);
    transition: 0.3s;
}

.list-of-links{
    margin-top: 28px;
}


.secondary-links {
    position: relative;
    left: 80px;
}

.footer-newsletter {
    position: relative;
    left: 80px;
}

